/*     BASE COLOR  : #c0392b   */

body{
    font-size : 18px;
    background : linear-gradient(#c0392b,#88291f 40%,#000 45%,#000 70%);
    height:100vh;
    background-position: center;
    background-attachment: fixed;
}

.section {
    margin-bottom: 70px;
}
.red-btn{
     background-color : #7b241b !important;
    
}
.black-btn{
    background-color : #222222 !important;
    color : white;
}
.large-round{
    font-weight: 200 !important;
    font-size : 400% !important;
    color : black;
    border-radius: 50%;
    border : 1px solid black;
    margin-top : 30px;
}

/*------------HEADER NAV SECTION---------------*/

nav {
    background: linear-gradient(to left,#000, #a43125, #000);
    position: fixed;
    top : 0px;
    z-index : 9999;
}
nav .nav-wrapper{
    padding : 0 20px;
}
/*---------------MAIN SECTION-------------------*/

main .container{
    background-color : #f0f0f0;
/*
    position: absolute;
    left : 50%;
    transform: translateX(-50%);
    top : 20%;
*/
    height : auto;
    
}

/*--------------BEST BLOG SECTION--------------*/
.best-blog{
    padding : 20px 50px;
}

.best-blog h3{
    text-transform: uppercase;
    font-size : 150%;
    padding-bottom: 5px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 300;
    color : #88291f;
    border-bottom  : 1px solid #88291f;
}

.blog{
    border : 1px solid black;
    margin : 20px 0;
    border-radius : 10px;
    padding : 10px 20px !important;
    height : auto !important;
}

.blog.red-theme{
    border-color :#c0392b;
    color : #7b241b;
}
.blog h4{
    font-size : 150%;
    text-transform: capitalize;
}
.blog h5{
    font-size : 80%;
    text-transform: capitalize;
    letter-spacing: 1px;
    float : left;
    margin-top : 0px;
    margin-right : 20px;

}

.blog-info{
    padding-left : 0 !important;
}

.blog .material-icons{
    font-size : 110%;
    padding-right : 7px;
}
.blog-content{
    padding : 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    height:85px; 
    margin-bottom : 20px;
}
.expand{
    overflow: visible;
    height : auto !important;
}
.blog-info a{
    color : #888888;
    cursor : pointer;
}
.blog-info a:hover{
    color : inherit;
}
.read-more{
    background-color : #222222 !important;
    color : white;
/*    border : 1px solid black;*/
    margin-bottom: 10px;
}
.red-theme .read-more{
/*    border-color : #7b241b;*/
    background-color : #7b241b !important;

}
