/*     BASE COLOR  : #c0392b   */

body{
    font-size : 16px;
    background : linear-gradient(#c0392b,#88291f 40%,#000 45%,#000 70%);
    height:100vh;
    background-position: center;
    background-attachment: fixed;
}

.section {
    margin-bottom: 70px;
}
.red-btn{
     background-color : #7b241b !important;
    
}
.black-btn{
    background-color : #222222 !important;
    color : white;
}
.large-round{
    font-weight: 200 !important;
    font-size : 400% !important;
    color : black;
    border-radius: 50%;
    border : 1px solid black;
    margin-top : 30px;
}
.form-error{
    font-size : 90%;
    font-style : italic;
    margin-top : 20px;
    color : #88291f;
}

/*------------HEADER NAV SECTION---------------*/

nav {
    background: linear-gradient(to left,#000, #a43125, #000);
    position: fixed;
    top : 0px;
    z-index : 9999;
}
nav .nav-wrapper{
    padding : 0 20px;
}
/*---------------MAIN SECTION-------------------*/

main>.container{
    background-color : #f0f0f0;
    height : auto;
    position: absolute;
    left : 50%;
    transform: translateX(-50%);
    top : 20%;
    
}
/*-----------profile header section-----------*/
.profile-header{
    margin-left : 0 !important;
    margin-right : 0 !important;
    border-bottom : 1px solid black;
}
.profile-header .card-panel{
    padding : 20px 50px;
    background-color : transparent;
}
.profile-header h1{
    font-size : 300%;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px ;
}
.profile-header h3{
    font-size : 130%;
    font-weight: 400;
    font-style : italic;
}
.profile-header h4{
    font-size : 100%;
    text-transform: uppercase;
}
#profile-options{
    font-size : 85%;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#profile-options a{
    color : #c0392b;
    cursor : pointer;
}
#profile-options .material-icons{
    font-size : 100%;
    margin : 0 3px;
    color : #88291f;
}
#profile-options .card{
    background-color : transparent;
    border : 1px solid #c0392b;
    padding: 5px;
    display : flex;
    align-items: center;
}

/*--------------BEST BLOG SECTION--------------*/
/*-------same styling used here for blogs section-----*/
.best-blog{
    padding : 20px 50px;
}

.best-blog h3{
    text-transform: uppercase;
    font-size : 150%;
    padding-bottom: 5px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 300;
    color : #88291f;
    border-bottom  : 1px solid #88291f;
}

.blog{
    border : 1px solid black;
    margin : 20px 0;
    border-radius : 10px;
    padding : 10px 20px !important;
    height : auto !important;
}

.blog.red-theme{
    border-color :#c0392b;
    color : #7b241b;
}
.blog h4{
    font-size : 150%;
    text-transform: capitalize;
}
.blog h5{
    font-size : 80%;
    text-transform: capitalize;
    letter-spacing: 1px;
    float : left;
    margin-top : 0px;
    margin-right : 20px;

}

.blog-info{
    padding-left : 0 !important;
}

.blog .material-icons{
    font-size : 110%;
    padding-right : 7px;
}
.blog-content{
    padding : 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    height:85px; 
    margin-bottom : 20px;
}
.expand{
    overflow: visible;
    height : auto !important;
}
.blog-info a{
    color : #888888;
    cursor : pointer;
}
.blog-info a:hover{
    color : inherit;
}
.read-more{
    background-color : #222222 !important;
    color : white;
/*    border : 1px solid black;*/
    margin-bottom: 10px;
}
.red-theme .read-more{
/*    border-color : #7b241b;*/
    background-color : #7b241b !important;

}

/*-----------floating button---------------*/
.btn-floating {
/*    position : fixed;*/
    bottom : 30px;
    right : 18vw;
    background-color : #c0392b !important;
}

/*---------STYLING FOR POPUPS------------------*/
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index:9999;
    
}
.popup h5{
    font-size:100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.popup p{
    font-size: 20%:
}
 

.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#efefef;
}

.popup .btn{
    margin-right:10px;
    margin-bottom:10px;
}
 

.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fbfbfb;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
/*--------------EDIT PROFILE POPUP------------*/
#country{
    text-transform: uppercase;
}

/*------------ADD NEW BLOG SECTION-------------*/
.add-blog h4{
    font-size : 150%;
    text-transform: uppercase;
    margin-top : 50px;
}

.add-blog textarea{
    font-size : 120%;
}

.add-blog #title{
    text-transform: capitalize;
}


